[Desktop Entry]
Version=1.0
Name=The Hunt For Red October
Comment=2D shooting game
Exec=
Path=
Icon=
Terminal=false
Type=Application
Categories=Utility;Application;
